/DevFacto.Dotplan.5.0.ReSharper.user
/_ReSharper.DevFacto.Dotplan
obj/
bin/
/TestResults
/packages
*.suo
*.user
*.cache
/DevFacto.Dotplan.Web/Content/images/backup
/DevFacto.Dotplan.Web/DevFacto.Dotplan.Web.Publish.xml
/DevFacto.Dotplan.Database/DevFacto.Dotplan.Database.dbmdl
*.ldf
*.mdf
/DevFacto.Dotplan.Web/App_Data/*

*.ncrunchsolution*
*.ncrunchproject*

*swp

/DevFacto.Dotplan.AnalysisServicesDatabase
/DevFacto.Dotplan.Web/_cache
/DevFacto.Dotplan.Web/_logs
/_UpgradeReport_Files
/UpgradeLog.*

results.xml
